# USB serial device connected - bind and notify VM
ACTION=="add", SUBSYSTEM=="usb", ATTR{bInterfaceClass}=="02", RUN+="/usr/local/bin/usbip-bind-all.sh", RUN+="/usr/local/bin/notify-vm.sh connect %k &"
ACTION=="add", SUBSYSTEM=="usb", ATTR{bInterfaceClass}=="ff", RUN+="/usr/local/bin/usbip-bind-all.sh", RUN+="/usr/local/bin/notify-vm.sh connect %k &"

# USB serial device disconnected - notify VM
ACTION=="remove", SUBSYSTEM=="usb", RUN+="/usr/local/bin/notify-vm.sh disconnect %k &"
